@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f8fafc;
  --foreground: #1a1a2e;
  --hh-primary: #c0392b;
  --hh-dark: #1a1a2e;
  --hh-accent: #f39c12;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
